body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

* {
    border: solid 1px black;
}

.grid {
    height: 100%;
    display: grid;
    grid-template-rows:  5% 10% 10% 60% 15%;
}

.middle-header {
    display: grid;
    grid-template-columns: 50% 50%;
}

.top-content {
    display: grid;
    grid-template-columns: 15% 40% 15% 15% 15%;
}

.bottom-content {
    display: flex;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
}

.kittens {
    width: 70%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.kittens div {
    overflow: hidden;
}